{% extends 'templates/admin_common.html' %}
{% block content %}


<div class="row">

	<br>

	{% if message %}
		<div class="small-12 columns">
			<h3 class="text-center">{{ message }}</h3>
		</div>
	{% endif %}

	<div class="small-12 columns">
		<h6>
			IMPORTANT! It is your responsibility to ensure confidentiality of the photos 
			and student information below. Further disclosure is governed by Federal and State law and
			University policy, and is prohibited without written consent of the student(s).
		</h6>
	</div>
	<br>
	<div class="small-12 columns panel">
		<table>
			<tr>
				<th class="text-center">Ucinetid</th>
				{% for date in headers %}
					<th class="text-center">{{ date }}</th>
				{% endfor %}
			</tr>
			<tr>
				<th class="text-center">TOTAL</th>
				{% for max in totals %}
					<th class="text-center">{{ max }}</th>
				{% endfor %}
			</tr>
			{% for std_grade in grades %}
				<tr>
					<td class="text-center">{{ std_grade.ucinetid }}</td>
					{% for grade in std_grade.grades %}
						<td class="text-center">{{ grade }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<li class="button small centered"> <a href="/admin/upload" style="color:white">Update Grades</a></li>
	</div>
</div>

{% endblock %}
